body {
    font-family: "Century Gothic", "Lato", sans-serif;
}

.brightFutureLogo{
    //display: none;
    position: absolute;
    height: 300px;
    width: 810px;
    top: 25%;
    left: 25%;
    margin: 10px;
    z-index: 20;
    transition: transform 0.5s ease-in-out;
}

.brightFutureLogo:hover {
    transform: scale(1.2) rotate(355deg); /* 鼠标悬停时放大并旋转 logo */
}

/*background image*/
.content-slide {
    height: 100vh;
    width: 94.2vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0; /* 初始不透明度为0 */
    transition: opacity 2s ease; /* 渐变效果 */
}


#tab-ab {
    background-image: url('images/blueBackground1-2 (1).png');
}

#tab-or {
    background-image: url('images/orangeBackgournd1-2 (1).png');
}

#tab-ad {
    background-image: url('images/purpleBackground1-2 (1).png');
}

#tab-do {
    background-image: url('images/yellowBackground1-2 (1).png');
}

#tab-faq {
    background-image: url('images/greenBackground1-2 (2).png');
}


.search-container {
    position: absolute;
    top: 3%;
    left: 1.4%;
    z-index: 20;
    height: auto;
    width: 500px;
    display: flex; /* 使用 flex 布局 */
    align-items: center; /* 垂直居中 */
}

.search-input {
    padding: 10px 10px 10px 30px; /* 在左侧留出空间放置图标 */
    font-size: 16px;
    background: #ddd; /* 默认背景颜色稍微深一些 */
    border: none;
    border-bottom: 3px solid #bbb;
    transition: all 0.3s ease;
    box-sizing: border-box;
    width: 5%;
    outline: none; /* 移除聚焦时的轮廓线 */
}

.search-icon {
    position: absolute;
    left: 10px;
    font-size: 16px; /* 图标大小 */
    color: #888; /* 图标颜色 */
}

.search-input:hover{
    background: #ccc;
    width: 100%;
    border-bottom: 3px solid #888;
}

/* 图标的悬停效果 */
.search-container:hover .search-icon {
    color: #666;
}


/* 搜索栏样式 */
.search-container {
    /* 之前的样式保持不变 */
}

.search-input, .search-icon {
    /* 之前的样式保持不变 */
}

/* 按钮容器样式 */
.button-container {
    position: absolute;
    top: 3%; /* 调整位置以适应布局 */
    right: 1%; /* 调整位置以适应布局 */
    display: flex;
    align-items: center;
    gap: 10px; /* 按钮之间的间隔 */
    z-index: 20;
}

/* 按钮的通用样式 */
.action-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #eee; /* 按钮默认背景色 */
    color: #333; /* 文字颜色 */
    border-bottom: 3px solid #bbb; /* 底部边框样式 */
    transition: all 0.3s ease;
}

.action-button:hover {
    background: #ccc;
    border-bottom: 3px solid #888;
}

#back-to-top {
    position: fixed; /* 固定位置 */
    bottom: 20px; /* 页面底部的距离 */
    right: 30px; /* 页面右侧的距离 */
    z-index: 99; /* 确保按钮不被其他元素覆盖 */
    border: none; /* 无边框 */
    outline: none; /* 无轮廓 */
    background-color: #ddd; /* 背景色 */
    color: black; /* 文字颜色 */
    cursor: pointer; /* 鼠标悬浮时的指针形状 */
    padding: 15px; /* 内边距 */
    border-radius: 10px; /* 边角的弧度 */
    display: none; /* 默认不显示 */
}

#back-to-top:hover {
    background-color: #ccc; /* 鼠标悬浮时的背景色变化 */
}

/*Scroll down button*/
.scroll-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 20;
}

.arrow {
    display: block;
    font-size: 36px; /* 或更大，取决于你的设计 */
    color: #656565; /* 此颜色可以更改以适应你的设计 */
    animation: float 2s ease-in-out infinite;
}

.text {
    font-size: 26px; /* 文字大小可以根据需要调整 */
    color: #656565; /* 文字颜色 */
}

/* 添加上下浮动动画 */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


a {
    text-decoration: none;
}

.navigation-tabs,
.content-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    /*background-image: url("images/grayBackground1-2 (4).png");*/
    background: #eee;
    text-align: center;
    padding: 0 2em;
}

.navigation-tabs h1,
.content-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
.navigation-tabs h3,
.content-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.navigation-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}
.navigation-tabs-container--top {
    position: fixed;
    top: 0;
}

.navigation-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}
.navigation-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
}

.navigation-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .navigation-tabs h1,
    .content-slide h1 {
        font-size: 3rem;
    }
    .navigation-tabs h3,
    .content-slide h3 {
        font-size: 1rem;
    }
    .navigation-tab {
        font-size: 1rem;
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1750px);
    }
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 50px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1100px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 50px;
    position: absolute;
    width: 100px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: 3500px;
}
.slider .slide {
    height: 50px;
    width: 150px;
}

/*# sourceMappingURL=homePage04Style.css.map */
