@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

body{
    font-family: "Georgia", "Rubik Bubbles";
}

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

* {
    box-sizing: border-box;
}

.title_member {
    color: #00aaee; /* 标题颜色 */
    text-shadow: 2px 2px 4px #000000; /* 文本阴影，增加可读性 */
    background-color: rgba(255, 255, 255, 0.25); /* 背景颜色，带一点透明度增加层次感 */
    border-radius: 8px; /* 边角圆润 */
    padding: 20px 40px; /* 内边距调整 */
    position: absolute;
    right: 50%;
    top: 5%; /* 调整位置，更居中 */
    transform: translateX(50%); /* 用于居中对齐 */
    font-size: 5rem; /* 字体大小适度 */
    font-family: 'Roboto', sans-serif; /* 使用Google字体 */
    font-weight: 700; /* 字体加粗 */
    text-align: center; /* 文本居中 */
    transition: transform 0.3s ease; /* 过渡效果使动画平滑 */
}

.page-content {
    position: relative;
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    /*in middle*/
    transform: translateX(50%);
    transform: translateY(50%);
    font-family: var(--font-sans);
}
@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

body{
    background-image: url("images/back (1).jpg");
    background-size: cover;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
    background-image: url("images/Junzhao.png");
}
.card:nth-child(2):before {
    background-image: url("images/Xu.png");
}
.card:nth-child(3):before {
    background-image: url("images/Vanya.png");
}
.card:nth-child(4):before {
    background-image: url("images/Ximena.png");
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}
.content > * + * {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}
.btn:hover {
    background-color: #0d0d0d;
}
.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }
    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }
    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content > *:not(.title),
    .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before, .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
    }
}

/*navigation bar*/
a {
    text-decoration: none;
}

.navigation-tabs,
.content-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    background: rgba(238, 238, 238, 0);
    text-align: center;
    padding: 0 2em;
}

.navigation-tabs h1,
.content-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;

}
.navigation-tabs h3,
.content-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}
.navigation-tabs-container {
    display: flex;
    flex-direction: column; /* 改为垂直排列 */
    position: fixed; /* 可以选择固定位置 */
    top: 0;
    left: 0; /* 调整为适当的位置 */
    width: 110px; /* 调整宽度 */
    height: 100%; /* 充满整个视口高度 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.82);
    z-index: 10;
}

.navigation-tab {
    padding: 5px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* 调整每个标签的高度 */
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    box-shadow: 0 1px 0 2px #b6b6b6;
    background: #f8f8f8;
}
/* 其他样式保持不变 */

.navigation-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
}

.navigation-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 1700px){

    .title_member {
        text-shadow: 2px 2px 4px #000000; /* 文本阴影，增加可读性 */
        border-radius: 8px; /* 边角圆润 */
        padding: 20px 40px; /* 内边距调整 */
        top: 5%; /* 调整位置，更居中 */
        font-size: 6rem; /* 字体大小适度 */
        font-weight: 760; /* 字体加粗 */
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 1rem;
        margin: 1px;
        width: 100%;
        height: 150%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }

    .page-content {
        grid-gap: 1rem;
        padding: 2rem;
        max-width: 1400px;
        margin: 0 auto;
        /*in middle*/
        transform: translateX(50%);
        transform: translateY(60%);
    }

    .navigation-tabs-container {
        width: 115px; /* 调整宽度 */
        height: 100%; /* 充满整个视口高度 */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.82);
        z-index: 10;
    }

    .navigation-tab {
        padding: 5px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px; /* 调整每个标签的高度 */
        color: #000;
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
        box-shadow: 0 1px 0 2px #b6b6b6;
        background: #f8f8f8;
    }

    .title{
        margin: 1px;
        line-height: 15px;
        font-size: 2rem;
    }

    .copy{
        font-size: 1.2rem;
        line-height: 40px;
    }
}

@media (min-width: 2070px){

    .title_member {
        text-shadow: 2px 2px 4px #000000; /* 文本阴影，增加可读性 */
        border-radius: 8px; /* 边角圆润 */
        padding: 20px 40px; /* 内边距调整 */
        top: 5%; /* 调整位置，更居中 */
        font-size: 6rem; /* 字体大小适度 */
        font-weight: 840; /* 字体加粗 */
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 1rem;
        width: 100%;
        height: 180%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1), 0 13px 13px rgba(0, 0, 0, 0.1), 0 22px 22px rgba(0, 0, 0, 0.1);
    }

    .page-content {
        grid-gap: 1rem;
        padding: 1rem;
        max-width: 1400px;
        margin: 0 auto;
        /*in middle*/
        transform: translateX(50%);
        transform: translateY(80%);
    }

    .navigation-tabs-container {
        width: 130px; /* 调整宽度 */
        height: 100%; /* 充满整个视口高度 */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.82);
        z-index: 10;
    }

    .navigation-tab {
        padding: 5px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 83px; /* 调整每个标签的高度 */
        color: #000;
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
        box-shadow: 0 1px 0 2px #b6b6b6;
        background: #f8f8f8;
    }
}

@media (min-width: 2330px){

    .title_member {
        text-shadow: 2px 2px 4px #000000; /* 文本阴影，增加可读性 */
        border-radius: 8px; /* 边角圆润 */
        padding: 20px 40px; /* 内边距调整 */
        top: 5%; /* 调整位置，更居中 */
        font-size: 6rem; /* 字体大小适度 */
        font-weight: 760; /* 字体加粗 */
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 1rem;
        width: 140%;
        height: 200%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }

    .page-content {
        grid-gap: 8rem;
        padding: 1rem;
        max-width: 1500px;
        margin: 0 auto;
        /*in middle*/
        transform: translateX(50%);
        transform: translateY(90%);
    }

    .navigation-tabs-container {
        width: 140px; /* 调整宽度 */
        height: 100%; /* 充满整个视口高度 */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.82);
        z-index: 10;
    }

    .navigation-tab {
        padding: 5px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px; /* 调整每个标签的高度 */
        color: #000;
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 2rem !important;
        box-shadow: 0 1px 0 2px #b6b6b6;
        background: #f8f8f8;
    }

    .title{
        line-height: 10px;
        font-size: 2.5rem;
    }

    .copy{
        font-size: 1.5rem;
        line-height: 33px;
    }
}

@media (min-width: 2800px){

    .title_member {
        text-shadow: 2px 2px 4px #000000; /* 文本阴影，增加可读性 */
        border-radius: 8px; /* 边角圆润 */
        padding: 20px 40px; /* 内边距调整 */
        top: 5%; /* 调整位置，更居中 */
        font-size: 7rem; /* 字体大小适度 */
        font-weight: 800; /* 字体加粗 */
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 2rem;
        width: 160%;
        height: 200%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }

    .page-content {
        grid-gap: 12rem;
        padding: 1rem;
        max-width: 1800px;
        margin: 0 auto;
        /*in middle*/
        transform: translateX(50%);
        transform: translateY(90%);
    }

    /*navigation bar*/
    .navigation-tabs-container {
        width: 180px; /* 调整宽度 */
        height: 100%; /* 充满整个视口高度 */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.82);
        z-index: 10;
    }

    .navigation-tab {
        padding: 5px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px; /* 调整每个标签的高度 */
        color: #000;
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 3rem !important;
        box-shadow: 0 1px 0 2px #b6b6b6;
        background: #f8f8f8;
    }

    .title{
        line-height: 12px;
        font-size: 2.9rem;
    }

    .copy{
        font-size: 1.9rem;
        line-height: 39px;
    }
}

@media (min-width: 3700px){

    .title_member {
        text-shadow: 2px 2px 4px #000000; /* 文本阴影，增加可读性 */
        border-radius: 8px; /* 边角圆润 */
        padding: 20px 40px; /* 内边距调整 */
        top: 5%; /* 调整位置，更居中 */
        font-size: 9rem; /* 字体大小适度 */
        font-weight: 1000; /* 字体加粗 */
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 2rem;
        width: 180%;
        height: 220%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }

    .page-content {
        grid-gap: 18.6rem;
        padding: 2rem;
        max-width: 2250px;
        margin: 0 auto;
        /*in middle*/
        transform: translateX(50%);
        transform: translateY(80%);
    }

    /*navigation bar*/
    .navigation-tabs-container {
        width: 200px; /* 调整宽度 */
        height: 100%; /* 充满整个视口高度 */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.82);
        z-index: 10;
    }

    .navigation-tab {
        padding: 5px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px; /* 调整每个标签的高度 */
        color: #000;
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 4rem !important;
        box-shadow: 0 1px 0 2px #b6b6b6;
        background: #f8f8f8;
    }

    .title{
        line-height: 15px;
        font-size: 3.6rem;
    }

    .copy{
        font-size: 2.3rem;
        line-height: 50px;
    }
}

@media (min-width: 5600px){

    .title_member {
        text-shadow: 2px 2px 4px #000000; /* 文本阴影，增加可读性 */
        border-radius: 8px; /* 边角圆润 */
        padding: 20px 40px; /* 内边距调整 */
        top: 5%; /* 调整位置，更居中 */
        font-size: 15rem; /* 字体大小适度 */
        font-weight: 1000; /* 字体加粗 */
    }

    .card {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 2rem;
        width: 260%;
        height: 300%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }

    .page-content {
        grid-gap: 41rem;
        padding: 3rem;
        max-width: 3600px;
        margin: 0 auto;
        /*in middle*/
        transform: translateX(30%);
        transform: translateY(100%);
    }

    /*navigation bar*/
    .navigation-tabs-container {
        width: 300px; /* 调整宽度 */
        height: 100%; /* 充满整个视口高度 */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.82);
        z-index: 10;
    }

    .navigation-tab {
        padding: 5px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px; /* 调整每个标签的高度 */
        color: #000;
        letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 6rem !important;
        box-shadow: 0 1px 0 2px #b6b6b6;
        background: #f8f8f8;
    }

    .title{
        margin: 8px;
        line-height: 33px;
        font-size: 5rem;
    }

    .copy{
        font-size: 3.5rem;
        line-height: 100px;
    }
}